html {
    scroll-behavior: smooth;
}

/* Global */

h1 {
    font-size: 50px;
}

h2 {
    font-size: 43px;
    color: #3C2A21;
    margin: 5px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 17px;
    margin: 5px;
    color: #3C2A21;
}

h5 {
    font-size: 12px;
    font-weight: lighter;
    color: #3C2A21;
    margin: 5px;
}

h6 {
    font-weight: 700;
    font-size: 10px;
    color: #3C2A21;
}

p {
    font-size: 16px;
    color: #3C2A21;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header */
.logo {
    width: 300px;
    height: auto;
}

.icon {
    width: 25px;
    height: 25px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
    background-color: #698269;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    list-style: none;
    padding: 0 5px;
}

.search {
    display: flex;
    align-items: center;
    background-color: #F1DBBF;
    padding: 3px 3px 1px 3px;
    border-radius: 15px;
}

.searchInput {
    border: none;
    border-radius: 20px;
    background-color: transparent;
    width: 100%;
}

.searchInput::placeholder {
    color: #B99B6B;
}

.searchIcon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    padding: 5px;
    background-color: #698269;
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
}

.searchIcon:hover {
    background-color: #596D59;
}

/* Navigation Links */
#navBottom {
    display: flex;
    align-items: center;
}

.menuItem {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #B99B6B;
    color: #E5E5CB;
    cursor: pointer;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 10px;
    margin: 0;
    font-size: 20px;
}

.menuItem.active, .menuItem:hover {
    background-color: white;
    color: #3C2A21;
}

#headerBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #698269;
}

/* Reader's Choice slideshow */
.slider{
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
}
.sliderTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.sliderImg {
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 380px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.item{
    position: absolute;
    width: 200px;
    height: 320px;
    text-align: justify;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    left: calc(50% - 110px);
    top: 0;
}
#next, #prev{
    position: absolute;
    top: 40%;
    color:#3C2A21;
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    left: 400px;
    cursor: pointer;
}
#next{
    left: unset;
    right: 350px;
}


/* Products section*/

.sectionTitle {
    display: inline-block;
    text-align: left;
    margin-left: 80px;
    padding: 10px 20px;
    font-size: 25px;
    background-color: #698269;
    color: #E5E5CB;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-bottom: 0;
}

#product1 {
    padding: 40px 80px;
    border: 1px solid transparent;
    background-color: #F1DBBF;
    margin: 0 80px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

#product1 .productContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .product {
    width: 15%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px transparent;
    cursor: pointer;
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .product img {
    width: 100%;
    max-height: 380px;
    border-radius: 10px;
    cursor: pointer;
}

#product1 .product img:hover {
    transition: 0.3s ease;
    box-shadow: 4px 4px 4px rgba(87, 87, 87, 0.2);
}

#product1 .product .description {
    text-align: start;
    padding: 10px 0;

}

.bookTitle:hover, .authorName:hover {
    text-decoration: underline;
}

#product1 .product .cartcircle {
    width: 30px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    bottom: 15px;
    right: 20px;
    cursor: pointer;
}

#product1 .product .wishlistcircle {
    width: 30px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    bottom: 15px;
    right: 55px;
    cursor: pointer;
}

#product1 .product .cartcircle:hover {
    box-shadow: none;
}

#product1 .product .wishlistcircle:hover {
    box-shadow: none;
}

.more {
    text-align: right;
    cursor: pointer;
    color: #9A815A;
}

.more:hover {
    text-decoration: underline;
}

/* Footer Text */
.footerTop {
    text-align: center;
    background-color:#F1DBBF;
    padding: 50px;
    margin-top: 50px;
}

.footerMessage {
    font-weight: 100;
    color: #3C2A21;
    font-size: 14px;
}

.footerBottom {
    text-align: center;
    background-color: #9A815A;
    padding: 50px;
}

.footerIcon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#footerIcons {
    display: flex;
    justify-content: center;
}

.footerBottom h5 {
    color: #E2E0C5;
}

/* Search results page */
.progress {
    display: flex;
    margin-left: 80px;
    padding-top: 30px;
}

.progress h4 {
    font-weight: lighter;
    font-style: italic;
}

.progress a {
    text-decoration: none;
}

.progress a:hover {
    text-decoration: underline;
}

#resultsTitle .results h3 {
    font-weight: lighter;
    font-style: italic;
}

.results {
    padding-top: 10px;
    margin-left: 80px;
}

.filter {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin: 0 80px 10px 75px;
    font-style: italic;
}

#sort-by {
    padding: 5px;
    font-size: 14px;
    color: #3C2A21;
    border-radius: 10px;
  }
  
#sort-by option {
    padding: 5px;
}

/* Page Numbers */
#ending .pages {
    display: flex;
    margin-left: 80px;
}

#ending .page {
    margin-right: 0;
    margin-left: 0;
    margin-top: 20px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: lighter;
    cursor: pointer;
}

.conclusion {
    margin-left: 80px;
    font-weight: lighter;
    font-style: italic;
}

/* Single product page */
#productDetails {
    padding: 20px 30px;
    display: flex;
    margin-top: 20px;
    border: 1px solid transparent;
    background-color: #F1DBBF;
    border-radius: 20px;
    margin: 10px 80px;
}

#productDetails .singleProduct {
    width: 20%;
    margin-right: 50px;
    margin-top: 20px;
}

#mainImage {
    border-radius: 10px;
}

.buttonGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.addtocart {
    background-color:#698269;
    color: #F1DBBF;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;    
}

.addtocart:hover {
    background-color: #596D59;
    border: #B99B6B;
}

#productDetails .singleDetails {
    width: 80%;
}

#productDetails .singleDetails h4 {
    font-weight: lighter;
    color: #3C2A21;
    padding: 10px 0;
}

#productDetails .singleDetails h3 {
    font-weight: lighter;
    color:#3C2A21;
    padding: 0;
}

.singleDetails a {
    text-decoration: none;
}

.singleDetails a:hover {
    text-decoration: underline;
}

/* Author Bio container */

#authorBio {
    padding: 20px 30px;
    display: flex;
    border: 1px solid transparent;
    background-color: #F1DBBF;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 0px 80px;
    align-items: center;
}

#authorBio .singleProduct {
    width: 15%;
    margin-right: 30px;
    margin-top: 20px;
}

#authorBio .singleDetails {
    width: 85%;
}

#mainImage {
    border-radius: 10px;
}

#authorBio .singleDetails h4 {
    font-weight: lighter;
    color: #3C2A21;
    padding: 10px 0;
}

/* Cart Page */
#cartFill {
    border: transparent;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #F1DBBF;
    margin: 0 80px;
    padding-top: 5px;
}

#wholeCart {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
}

/* Left hand side of the cart page */
#cart {
    width: 70%;
    margin-right: 40px;
}

#cartFill .announcement {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    border: 2px solid #9A815A;
    background-color: #B9CEB9;
    color: #3C2A21;
    border-radius: 20px;
    margin: 5px 20px;
}

#cart table{
    width: 100%;
    border-collapse: separate;
    table-layout: fixed;
    white-space: nowrap;
    border: 1px solid #9A815A;
    border-radius: 10px;
}

#cart tr:nth-child(1) td {
    border-bottom: 1px dashed #9A815A;
}

#cart table a {
    text-decoration: none;
    color:#3C2A21;
    font-weight: lighter;
}

#cart table img {
    width: 150px;
    border-radius: 20px;
    margin: 20px 0;
}

#cart table td:nth-child(1){
    width: 5%;
    text-align: center;
}

#cart table td:nth-child(2){
    width: 15%;
}

#cart table td:nth-child(3) {
    width: 25%;
}

#cart table td:nth-child(4) {
    width: 10%;
    text-align: center;
    padding: 5px;
}

#cart table td:nth-child(4) input {
    width: 30px;
    padding: 5px;
    border-radius: 10px;
    border: none;
}


/* Right hand side of cart page */
#cartAdditional {
    width: 30%;
}

.couponEnter input {
    border-radius: 20px;
    padding: 10px 20px;
    width: 90%;
}

#coupon button {
    background-color:#698269;
    color: #F1DBBF;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;   
}

/* Subtotal Container */
#subtotalContainer, #couponContainer {
    border: 1px solid #9A815A;
    border-radius: 10px;
    margin-top: 30px;
    background-color: #9A815A;
}

.containerTitle {
    color: #504032;
    text-align: center;
    text-transform: uppercase;
}

#subtotal, #coupon {
    border: transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #F1DBBF;
    padding: 10px;
}

#subtotal table {
    width: 100%;
    border-collapse: separate;
    table-layout: fixed;
    white-space: nowrap;
    border-radius: 10px;
}

#subtotal table td {
    width: 50%;
    padding: 10px 0;
}

.checkout {
    margin-top: 10px;
    width: 100%;
    background-color:#698269;
    color: #F1DBBF;
    padding: 10px 20px;
    font-size: 22px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;   
}


/* Media query for mobile */
@media only screen and (max-width: 768px) {
    /* Resize icons */
    .logo {
        width: 200px;
    }
    #header {
        padding: 30px 20px;
    }
    .searchInput {
        display: none;
    }
    .search {
        background-color: transparent;
    }
    .searchIcon:hover {
        background-color: transparent;
    }
    .menuItem {
        font-size: 13px;
    }

    /* Resize slideshow */
    .slider {
        height: 350px;
    }
    .sliderImg {
        height: 300px;
    }

    /* Resize fonts */
    h2 {
        font-size: 30px;
    }
    h4 {
        font-size: 13px;
        margin: 5px;
        color: #3C2A21;
    }

    /* Give titles suitable padding */
    .sliderTitle {
        padding-top: 20px;
    }
    .sectionTitle {
        margin-left: 20px;
        font-size: 18px;
    }

    /* Reposition arrows */
    #next, #prev {
        left: 30px;
    }
    #next {
        left: 330px;
    }

    /* Resize section */
    #product1 {
        padding: 20px;
        margin: 0 20px;
    }
    #product1 .product {
        width: 15%;
        min-width: 150px;
        padding: 0;
        margin: 0;
    }

    /* Remove wishlist and cart icons to put them in products page */
    #product1 .product .wishlistcircle {
        display: none;
    }
    #product1 .product .cartcircle {
        display: none;
    }

    /* Fix margins for search results */
    #resultsTitle .progress {
        margin-left: 20px;
    }
    .results {
        margin-left: 20px;
    } 
    .filter {
        margin: 0 20px;
    }
    #ending .pages {
        margin-left: 20px;
    }
    .conclusion {
        margin-left: 20px;
    }

    /* Product page responsiveness */
    #productDetails {
        flex-direction: column;
        margin: 10px 20px;
    }

    #authorBio {
        flex-direction: column;
        margin: 0px 20px;
    }
    #productDetails .singleProduct {
        width: 100%;
    }
    #productDetails .singleDetails {
        width: 100%;
    }
    .progress {
        margin-left: 20px;
    }
    #authorBio .singleProduct {
        width: 100%;
        margin-left: 20px;
    }
    #authorBio .singleDetails {
        width: 100%;
    }

    /* Cart Page */
    #wholeCart {
        flex-direction: column;
    }
    #cartFill .announcement {
        padding: 20px 10px;
    }
    #cartFill {
        margin: 0px 20px;
        padding: 5px;
    }
    #cart {
        width: 100%;
    }
    #cartAdditional {
        width: 100%;
    }
    .couponEnter input {
        width: 85%;
    }
    #cart table tr {
        display: flex;
        flex-direction: column;
    }
    #cart tr:nth-child(1) td {
        border-bottom: transparent;
    }
}